_old*
_old
./_old
.gitignore
compress.sh
compress_pro.sh
upda*.sh
com_toomanyfiles
com_toomanyfiles-2.0.0
desktop.ini
leggimi.ric.non.distribuire.txt
README.txt
README_*
resource*
updat*
pkg_toomanyfiles/packages
*.zip
*.tgz
*.tar.gz
littlehelper_news.php
news.inc
config.inc
configpro.inc
